*{
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input{types:"text"}
input{types:"email"}
input{types:"number"}
input{types:"password"}
input{types:"date"}
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc ;
    border-radius: 5px;
    margin: 5px;
}

fieldset {
    background-color: #fff;
    border: 3px solid #ccc;
}

.main_heading {
    text-align: center;
}

input[type="submit"] {
    background-color: #4daea1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}

input[type="submit"]:hover{
    background-color: #4caf84;
}